<div class="home">
  <div class="centered">
    <div class="div-crown-wrapper">
      <img
        id="imgMagic"
        width="0"
        height="0"
        src="./assets/crown-yellow.svg"
        [@imgMagicAnimation]="{
          value: currentState,
          params: { width: imgSuccessWidth, height: imgSuccessHeight }
        }"
      />

      <img
        id="imgFailure"
        width="0"
        height="0"
        src=""
        [@imgFailureShow]="{
          value: currentState,
          params: { width: imgFailWidth, height: imgFailHeight }
        }"
      />
    </div>

    <div class="div-headers-wrapper">
      <h1 [@h1DefaultHide]="currentState" class="unselectable">Sile car</h1>

      <h1
        [@h1FailureShow]="{
          value: currentState,
          params: { fontSize: fontSize }
        }"
        class="unselectable h1-failure"
      >
        Izdajico
      </h1>
      <h1
        [@h1SuccessShow]="{
          value: currentState,
          params: { fontSize: fontSize }
        }"
        class="unselectable h1-success"
        id="h1Success"
      ></h1>
    </div>

    <button
      pButton
      pRipple
      type="button"
      id="btnMagic"
      label="."
      class="p-button-rounded btn-magic"
      (click)="onClickMagicBtn($event)"
    ></button>
    <div class="div-metal"></div>
  </div>
</div>
