$btnPrimaryRedColor: rgb(202, 22, 44);
$btnSecondaryRedColor: rgb(166, 18, 35);
$txtDefaultColor: rgb(254, 191, 16);
$txtFailureColor: $btnPrimaryRedColor;
$txtSuccessColor: rgb(16, 153, 7);
$bckgColor: #000000;
$metalPrimaryColor: rgb(162, 164, 159);
$metalSecondaryColor: rgb(127, 124, 125);
:root {
  --btnMagicWidth: 10vw;
  --btnMagicHeight: 5vw;
  --btnMagicPushDown: 2vh;
  --btnMagicBoxShadowLvl1: 1vh;
  --btnMagicBoxShadowLvl2: 2vh;
  --btnMagicBoxShadowLvl3: 3vh;
  --btnMagicBoxShadowLvl4: 4vh;
  --btnMagicBoxShadowLvl5: 5vh;
  --btnMagicBoxShadowLvl6: 0vh;
  --btnMagicBoxShadowLvl7: 0vh;
  --btnMagicBoxShadowLvl8: 0vh;
  --btnMagicCursor: pointer;
  --divMetalWidth: 12vw;
  --divMetalHeight: 6vw;
  --divMetalMargin: -3vw;
  --divMetalBoxShadowLvl2: 2vh;
  --divMetalBoxShadowLvl3: 3vh;
  --divMetalBoxShadowLvl4: 0vw;
  --divMetalBoxShadowLvl5: 0vw;
  --divHeadersWrapperHeight: 14vh;
  --fontSize: 60t;
}

@mixin btn-magic-box-shadow-active {
  box-shadow: 0 var(--btnMagicBoxShadowLvl1) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl2) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl3) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl4) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl5) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl6) $btnSecondaryRedColor;
}

@mixin btn-magic-box-shadow {
  box-shadow: 0 var(--btnMagicBoxShadowLvl1) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl2) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl3) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl4) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl5) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl6) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl7) $btnSecondaryRedColor,
    0 var(--btnMagicBoxShadowLvl8) $btnSecondaryRedColor;
}

.home {
  width: 100vw;
  height: 100vh;
  background-color: $bckgColor;
  justify-content: center;
  align-items: center;

  h1 {
    text-transform: uppercase;
    font-size: var(--fontSize);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    margin: 0;
    color: $txtDefaultColor;

    &.h1-failure {
      color: $txtFailureColor;
    }

    &.h1-success {
      color: $txtSuccessColor;
    }
  }

  .centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-items: center;
    display: grid;
    width: 100vw;
  }

  .div-headers-wrapper {
    display: grid;
    min-height: var(--divHeadersWrapperHeight);
    min-width: 30vw;
    align-items: center;
    justify-content: center;
  }

  .div-crown-wrapper {
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .div-metal {
    width: var(--divMetalWidth);
    height: var(--divMetalHeight);
    background-color: $metalPrimaryColor;
    border-radius: 50%;
    margin: var(--divMetalMargin);
    box-shadow: 0 1vh $metalSecondaryColor,
      0 var(--divMetalBoxShadowLvl2) $metalSecondaryColor,
      0 var(--divMetalBoxShadowLvl3) $metalSecondaryColor,
      0 var(--divMetalBoxShadowLvl4) $metalSecondaryColor,
      0 var(--divMetalBoxShadowLvl5) $metalSecondaryColor;
  }
}

.svg-part {
  fill: $txtSuccessColor;
}

:host ::ng-deep .btn-magic {
  color: $btnPrimaryRedColor;
  background-color: $btnPrimaryRedColor;
  width: var(--btnMagicWidth);
  height: var(--btnMagicHeight);
  margin-top: 5vh;
  border-radius: 50%;
  border: none;
  cursor: var(--btnMagicCursor);
  @include btn-magic-box-shadow;

  &:focus {
    color: $btnPrimaryRedColor;
    background-color: $btnPrimaryRedColor;
    @include btn-magic-box-shadow;
  }

  &:not(:disabled):not(.disabled) {
    &:active,
    &:active:focus {
      color: $btnPrimaryRedColor;
      background-color: $btnPrimaryRedColor;
      transform: translate3d(0, var(--btnMagicPushDown), 0);
      @include btn-magic-box-shadow-active;
    }
  }

  &:hover {
    color: $btnPrimaryRedColor;
    background-color: $btnPrimaryRedColor;
    @include btn-magic-box-shadow;
  }
}

$breakpoints: (
  small: 300px,
  medium: 700px,
  large: 1024px,
) !default;

/// Small
@media screen and (max-width: map-get($breakpoints, "small")) {
  body,
  div {
    background-color: gray;
    --btnMagicWidth: 8vw;
    --btnMagicHeight: 5vw;
    --divMetalWidth: 16vw;
    --divMetalHeight: 9vw;
    --divMetalMargin: -2vw;
  }
}

/// Medium - Dekstop
@media only screen and (min-width: map-get($breakpoints, "small")) and (max-width: map-get($breakpoints, "medium")) {
  body,
  div {
    //background-color: lightpink;
    --btnMagicWidth: 8vw;
    --btnMagicHeight: 5vw;
    --btnMagicPushDown: 1vh;
    --btnMagicBoxShadowLvl1: 1vh;
    --btnMagicBoxShadowLvl2: 1.3vh;
    --btnMagicBoxShadowLvl3: 2vh;
    --btnMagicBoxShadowLvl4: 0vh;
    --btnMagicBoxShadowLvl5: 0vh;
    --btnMagicBoxShadowLvl6: 0vh;
    --btnMagicBoxShadowLvl7: 0vh;
    --btnMagicBoxShadowLvl8: 0vh;
    --btnMagicCursor: pointer;
    --divMetalWidth: 12vw;
    --divMetalHeight: 8vw;
    --divMetalMargin: -3vw;
    --divMetalBoxShadowLvl2: 1.5vh;
    --divMetalBoxShadowLvl3: 0vh;
    --divMetalBoxShadowLvl4: 0vh;
    --divMetalBoxShadowLvl5: 0vh;
    --divHeadersWrapperHeight: 22vh;
    --fontSize: 60pt;
  }
}
/// Medium - Phone
@media only screen and (pointer: none) and (min-width: map-get($breakpoints, "small")) and (max-width: map-get($breakpoints, "medium")),
  only screen and (pointer: coarse) and (min-width: map-get($breakpoints, "small")) and (max-width: map-get($breakpoints, "medium")) {
  body,
  div {
    //background-color: blue;
    --btnMagicWidth: 15vw;
    --btnMagicHeight: 7vw;
    --btnMagicPushDown: 1vh;
    --btnMagicBoxShadowLvl1: 1vh;
    --btnMagicBoxShadowLvl2: 1.3vh;
    --btnMagicBoxShadowLvl3: 2vh;
    --btnMagicBoxShadowLvl4: 2.5vh;
    --btnMagicBoxShadowLvl5: 3vh;
    --btnMagicBoxShadowLvl6: 3.5vh;
    --btnMagicBoxShadowLvl7: 0vh;
    --btnMagicBoxShadowLvl8: 0vh;
    --btnMagicCursor: none;
    --divMetalWidth: 29vw;
    --divMetalHeight: 11vw;
    --divMetalMargin: -2vw;
    --divMetalBoxShadowLvl2: 1.5vh;
    --divMetalBoxShadowLvl3: 2.2vh;
    --divMetalBoxShadowLvl4: 3.1vh;
    --divMetalBoxShadowLvl5: 4vh;
    --divHeadersWrapperHeight: 22vh;
    --fontSize: 60pt;
  }
}

/// Large
@media only screen and (min-width: map-get($breakpoints, "medium")) and (max-width: map-get($breakpoints, "large")) {
  body,
  div {
    //background-color: white;
    --btnMagicWidth: 8vw;
    --btnMagicHeight: 5vw;
    --btnMagicPushDown: 1vh;
    --btnMagicBoxShadowLvl1: 1vh;
    --btnMagicBoxShadowLvl2: 2vh;
    --btnMagicBoxShadowLvl3: 3vh;
    --btnMagicBoxShadowLvl4: 4vh;
    --btnMagicBoxShadowLvl5: 0vh;
    --btnMagicBoxShadowLvl6: 0vh;
    --btnMagicBoxShadowLvl7: 0vh;
    --btnMagicBoxShadowLvl8: 0vh;
    --btnMagicCursor: pointer;
    --divMetalWidth: 12vw;
    --divMetalHeight: 9vw;
    --divMetalMargin: -4vw;
    --divMetalBoxShadowLvl2: 2vh;
    --divMetalBoxShadowLvl3: 3vh;
    --divMetalBoxShadowLvl4: 0vh;
    --divMetalBoxShadowLvl5: 0vh;
    --divHeadersWrapperHeight: 17vh;
    --fontSize: 60pt;
  }
}

/// Above Large
@media only screen and (min-width: map-get($breakpoints, "large")) {
  body,
  div {
    //background-color: teal;
    --btnMagicWidth: 8vw;
    --btnMagicHeight: 5vw;
    --btnMagicPushDown: 1vh;
    --btnMagicBoxShadowLvl1: 1vh;
    --btnMagicBoxShadowLvl2: 2vh;
    --btnMagicBoxShadowLvl3: 3vh;
    --btnMagicBoxShadowLvl4: 4vh;
    --btnMagicBoxShadowLvl5: 5vh;
    --btnMagicBoxShadowLvl6: 0vh;
    --btnMagicBoxShadowLvl7: 0vh;
    --btnMagicBoxShadowLvl8: 0vh;
    --btnMagicCursor: pointer;
    --divMetalWidth: 12vw;
    --divMetalHeight: 8vw;
    --divMetalMargin: -4vw;
    --divMetalBoxShadowLvl2: 2vh;
    --divMetalBoxShadowLvl3: 3vh;
    --divMetalBoxShadowLvl4: 0vh;
    --divMetalBoxShadowLvl5: 0vh;
    --divHeadersWrapperHeight: 15vh;
    --fontSize: 60pt;
  }
}
/*
@media (pointer: none), (pointer: coarse) {
  body,
  div {
    background-color: orange;
    --btnMagicWidth: 32vw;
    --btnMagicHeight: 15vw;
    --btnMagicPushDown: 1vh;
    --btnMagicBoxShadowLvl1: 1vw;
    --btnMagicBoxShadowLvl2: 2vw;
    --btnMagicBoxShadowLvl3: 3vw;
    --btnMagicBoxShadowLvl4: 4vw;
    --btnMagicBoxShadowLvl5: 5vw;
    --btnMagicBoxShadowLvl6: 6vw;
    --btnMagicBoxShadowLvl7: 7vw;
    --btnMagicBoxShadowLvl8: 8vw;
    --divMetalWidth: 52vw;
    --divMetalHeight: 24vw;
    --divMetalMargin: -10vw;
    --divMetalBoxShadowLvl2: 2vw;
    --divMetalBoxShadowLvl3: 3vw;
    --divMetalBoxShadowLvl4: 4vw;
    --divMetalBoxShadowLvl5: 5vw;
    --divHeadersWrapperHeight: 15vh;
    --fontSize: 140pt;
  }
}*/
